@model Forum.VM.DiscussionDetailsVM

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Discussion</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.discussion.Title)

        <dd>
            @Html.DisplayFor(model => model.discussion.Title)
        </dd>

        <dt>
            @Html.DisplayFor(model => model.discussion.PosterName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.discussion.Text)
        </dd>

        @foreach (var v in Model.posts)
    {
        var username = v.GetPoster(v.PosterId).username;
        <dt>
            @if (HttpContext.Current.User.Identity.Name == username)
    {
        @Html.ActionLink("[remove]", "Delete", "Post", new { id = v.id }, null)
}
            @Html.ActionLink(username, "Details", "User", new { id = v.PosterId }, null)
        </dt>

            <dd>
                @Html.DisplayFor(x => v.Text)
            </dd>
}

    </dl>
</div>
<p>
    @Html.ActionLink("New Post", "Create", "Post") |
    @Html.ActionLink("Back to List", "Index")
</p>
