@model Forum.VM.DiscussionDetailsVM

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Discussion</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.discussion.Title)

        <dd>
            @Html.DisplayFor(model => model.discussion.Title)
        </dd>

        <dt>
            @Html.ActionLink(Model.discussion.user.username + ": ", "Details", "User", new { id = Model.discussion.PosterId}, null)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.discussion.Text)
        </dd>

        @foreach (var v in Model.posts)
        {
            
        <dt>
            @if (Model.name == v.user.username || Model.isAdmin)
             {
                <a href="@Url.Action("Delete", "Post", new { id = v.id }, null)" class="glyphicon glyphicon-trash navbar-left"></a>
             }
            @Html.ActionLink(v.user.username+": ", "Details", "User", new { id = v.PosterId }, null)
        </dt>

            <dd>
                @Html.DisplayFor(x => v.Text)
            </dd>
}

    </dl>
</div>
<p>
    @Html.ActionLink("New Post", "Create", "Post") |
    @Html.ActionLink("Back to List", "Index")
</p>
